---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import PageLayout from "../../components/_page_layout.astro";
import { undefined } from "astro:schema";

export const getStaticPaths: GetStaticPaths = async () => {
  const entries = await getCollection("blog");
  return entries.map((entry) => ({
    params: { entry: entry.slug },
    props: { entry },
  }));
};

const props = Astro.props;
const { Content, headings } = await props.entry.render();
---

<PageLayout title={props.entry.data.title}>
  <div class="mt-3 mb-4">
    <ul class="flex items-center flex-wrap">
      {
        props.entry.data.tags?.map((tag) => (
          <li>
            <a class="badge ml-1">{tag}</a>
          </li>
        ))
      }
      <li>
        <a class="badge badge-success ml-1">
          {props.entry.data.uploadAt.toDateString()}
        </a>
      </li>
      <li>
        <a class="badge badge-accent ml-1">
          {props.entry.body.split(" ").length} words
        </a>
      </li>
      <li>
        <a class="badge badge-info ml-1">
          {Math.round(props.entry.body.split(" ").length / 400)}min to read
        </a>
      </li>
    </ul>
  </div>
  <div class="flex max-w-screen ">
    <div class="text-center w-full max-w-4xl mt-4">
      <div class="text-left prose porse-h1:text-3xl">
        <Content />
      </div>
    </div>
    <nav
      class="lg:w-72 bg-white rounded-2xl p-6 shadow-md sticky top-4 h-fit hidden md:block"
      aria-label="Table of contents"
    >
      <h2 class="text-xl font-bold mb-4">Table of Contents</h2>
      <ol class="space-y-2">
        {
          headings
            .filter((h) => h.depth < 3)
            .map((h) => (
              <li
                class={`pl-${(h.depth - 1) * 4} hover:text-blue-600 transition-colors`}
              >
                <a
                  href={`#${h.slug}`}
                  class="block py-1"
                >
                  {h.text}
                </a>
              </li>
            ))
        }
      </ol>
    </nav>
  </div>
  <div class="h-80"></div>
</PageLayout>
