---
import Tags from "./tags.astro";

export type Props = {
  emoji: string;
  title: string;
  description: string;
  tags: any;
  uploadAt: string;
  charCount: number;
  slug: string;
};

const {
  emoji,
  title,
  description,
  tags,
  uploadAt,
  charCount,
  slug,
} = Astro.props;
---

<div class="rounded-lg bg-white pb-2 shadow-xl">
  <div class="flex items-center">
    <h1 class="place-items-center text-5xl pb-2">{emoji}</h1>
    <div class="flex flex-col pl-3">
      <a class="font-bold text-2xl pt-3" href={`/blog/${slug}`}>{title}</a>
      <h1 class="text-lg">{description}</h1>
      <div class="flex mt-0.5 w-full max-w-1/2">
        <Tags tags={tags} uploadAt={uploadAt} charCount={charCount}/>
      </div>
    </div>
  </div>
</div>
